<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.PageTitle}}</title>
</head>
<body>
    <form method="post">
            <fieldset>
                <legend>Задачи:</legend>
        {{range .Todos}}
                <div>
                    <input type="checkbox" id="{{.ID}}" name="{{.ID}}" {{if .Done}}checked{{end}}/>
                    <label>{{.Title}}</label>
                </div>
        {{end}}
            </fieldset>
            <label>Добавить новую задачу:</label><br />
            <input type="text" name="task">
    </form>
</body>
</html>